<div id="page-wrapper">

    <!-- Header -->
    {{>header}}

    <!-- Banner -->
    <section id="banner">
       <div style="margin-left: -70px">
           <h2>Charity Coder</h2>
           <p>Developing amazing platforms for FREE to support good causes!</p>
           <ul class="actions">
               <li><a href="#" class="button special">Join Us</a></li>
               <li><a href="#" class="button">Learn More</a></li>
           </ul>
       </div>
    </section>

    <!-- Main -->
    <section id="main" class="container">

        <section class="box special" id="about">
            <header class="major">
                <h2>Code For a Good Cause</h2>
                <p>
                    For every line of code I write, I want someone, somewhere in Africa,
                    to get that quality education he/she deserves.
                    For every hour I spend on a project, I want someone, somewhere in Africa
                    to get quality health services. For every web platform I develop for an
                    NGO for Free, I want you to know that someone needs your care, help and
                    attention.</p>
            </header>
            <span class="image featured"><img src="images/ngos_impacting.jpg" alt="" /></span>
        </section>

        <section class="box special features">
            <div class="features-row">
                <section>
                    <span class="icon major fa-laptop accent2"></span>
                    <h3>Free Website</h3>
                    <p>Charity coder will provide selected NGOs a fully functional website. This website will be developed to allow updates to contents as the need arise.
                     It will also be enabled for secure authentication to prevent access to restricted areas such as the administrative console.</p>
                </section>
                <section>
                    <span class="icon major fa-book accent3"></span>
                    <h3>Free Coaching</h3>
                    <p>To ensure continuity after website development, Charity Coder will deliver hands-on-training to selected NGOs on how to manage the website. This will include
                    but not limited to basic computer usage, navigation area control, content area editing, resources upload and best practices with respect to contents uploaded.</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <span class="icon major fa-search accent4"></span>
                    <h3>Search Engine Optimization</h3>
                    <p>Yes, Charity Coder will ensure that your website is search engine friendly. This means that your site will potentially come top in search results from search engines.
                    This is very important as Charity Coder ultimately wants to get the good cause you represent more audience and a wider reach.</p>
                </section>
                <section>
                    <span class="icon major fa-support accent5"></span>
                    <h3>Technical Support</h3>
                    <p>Charity Coder will continue to provide technical support to all successful participants.</p>
                </section>
            </div>
        </section>

        <div class="row" id="join">
            <div class="6u 12u(narrower)">

                <section class="box special">
                    <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
                    <h3>For Developers/Designers</h3>
                    <p>Thank you for stopping by. A Charity Coder is a developer who is interested in
                        giving back to society by helping NGOs in Africa get the online presence needed
                        to achieve the cause they promote. This can be by helping an NGO develop a website,
                         gain more social media awareness, design graphics for campaigns or deliver technical
                        lectures! Do you want to become a <em><strong>Charity Coder?</strong></em> </p>
                    <ul class="actions">
                        <li><a href="https://github.com/genteel/Charity-Coder" target="_blank" class="button alt"><i class="fa fa-github"></i> Learn More</a></li>
                    </ul>
                </section>

            </div>
            <div class="6u 12u(narrower)">

                <section class="box special">
                    <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
                    <h3>For NGOs</h3>
                    <p>Do you represent an NGO? Is your focus in one of these areas;
                        <em>Poverty, Health, Security, Education, Leadership, Empowerment, Gender Balance,
                        Domestic Violence or Child/Human Trafficking</em>? Are you yet to get the kind of
                        online presence that would help you achieve the goals of your NGO? I am a Charity Coder and I
                        want to help you achieve the good cause you have chosen to pursue.</p>
                    <ul class="actions">
                        <li><a href="https://ocheja.typeform.com/to/Ofaf9P" class="button alt">Register Now</a></li>
                    </ul>
                </section>

            </div>
        </div>

    </section>

    <!-- Footer -->
    {{>footer}}

</div>
